.html{
    margin: 0;
    padding: 0;
}
.body{
    line-height: 330px;
    background: linear-gradient(45deg, #f3c08c, #FFB975, #FF8A14, #DB6800);
}
.button{
    position: absolute;
    display: left;
}
.search{
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}
.menu{
    font-size: 24px;
    padding: 12px;
}
.menu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}
.menu li a{
    background-color: #eee;
}
.left{
    flex: 35%;
    padding: 15px 0;
}
.right {
  flex: 65%;
  padding: 15px;
}

